/** @see https://git.drupalcode.org/project/commerce_paypal/-/blob/8.x-1.x/css/paypal-checkout.css **/
@media all and (min-width: 61em) {
  .path-cart .paypal-buttons-container {
    float: right;
    width: 40%;
  }
  .path-cart .cart-form {
    clear: right;
  }
}
.paypal-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paypal-background-overlay-loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: paypal-spin-loader 2s linear infinite;
}
@keyframes paypal-spin-loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
